.club__navbar-container{
    background: black;
}

.club__navbar{
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    font-weight: 800;
    color: white;

    background: var(--color-light-blue);
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 1rem 2.5rem;
    border-radius: 75px;

    width: 80vw;
    /* margin-top: 1em; */
    margin-left: auto;
    margin-right: auto;

    position: sticky;
    top: 1rem;  /* Makes the navbar stick to the top of the viewport */
    z-index: 1000;  /* Ensures it stays above other content when scrolling */
}

.club__navbar-headline-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.club__navbar-headline-content p{
    font-size: 40px;
}

.club__navbar-links{
    flex: 1;
    
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 1.5rem;
    
}

.club__navbar-links li{
    margin: 0 1rem;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
    transform:transform 1.2s ease-in-out, background-color 1.2s ease-in-out;;
}

.club__navbar-links li:hover{
    transform: scale(1.1);
    background: white;
    color: black;
}

.club__navbar-join {
    position: relative;
    display: inline-block;
    padding-bottom: 5px; /* Adjust for spacing between text and border */
}

.club__navbar-join::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px; /* Height of the border */
    background-color: white; /* Color of the border */
    transition: width 0.4s ease, left 0.4s ease; /* Smooth and slow transition */
}

.club__navbar-join:hover::after {
    width: 100%;
    left: 0;
}

.club__navbar-smallscreen{
    display: none;
    justify-content: space-between;
}

.club__navbar-smallscreen_overlay{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height: 100vh;
    background-color: black;
    
    
    flex-direction: column;
    z-index: 5;
}

.club__navbar-smallscreen_overlay .overlay__close{
    font-size: 27px;
    /* color: white; */
    cursor: pointer;

    position: absolute; 
    top: 20px;
    right: 20px;
}

.club__navbar-smallscreen_links li{
    margin: 2rem;
    cursor: pointer;
    color: white;
    font-size: 2rem;
    text-align: center;
    font-family: var(--font-base);
    list-style: none;
}

@media screen and (max-width: 1150px){
    .club__navbar-links{
        display: none;
    }

    .club__navbar-join{
        display: none;
    }

    .club__navbar-smallscreen{
        display: flex;
    }
}
